/* $Id$ */
/**
 * @file
 * forDrupal Pop base CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* $Id$ */
/**
 * @file
 * forDrupal Pop _base CSS (CSS not generated, for inclusion only)..
 * Copyright 2010 forDrupal. All rights reserved.
 */
/*--- browser reset --- */
/* line 14, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/*--- typography --- */
/* line 15, ../stylesheets/base.scss */
body {
  background: white;
  font: normal 12px Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #222222;
  /* Fixed Monospace Sizing
   * http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
  /* override the background and color to change hr line color */
}
/* line 96, ../stylesheets/_pop_base.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 98, ../stylesheets/_pop_base.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 102, ../stylesheets/_pop_base.scss */
body h1 {
  font-size: 24px;
  padding: 18px 0;
}
/* line 103, ../stylesheets/_pop_base.scss */
body h2 {
  font-size: 21px;
  padding: 19px 0;
}
/* line 104, ../stylesheets/_pop_base.scss */
body h3 {
  font-size: 18px;
  padding: 21px 0;
}
/* line 105, ../stylesheets/_pop_base.scss */
body h4 {
  font-size: 16px;
  padding: 12px 0;
}
/* line 106, ../stylesheets/_pop_base.scss */
body h5 {
  font-size: 14px;
  padding: 13px 0;
}
/* line 107, ../stylesheets/_pop_base.scss */
body h6 {
  font-size: 12px;
  padding: 14px 0;
}
/* line 108, ../stylesheets/_pop_base.scss */
body p {
  margin: 0 0 20px;
}
/* line 110, ../stylesheets/_pop_base.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 20px 20px 20px 0;
  padding: 0;
}
/* line 111, ../stylesheets/_pop_base.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 20px 0 20px 20px;
  padding: 0;
}
/* line 113, ../stylesheets/_pop_base.scss */
body a {
  text-decoration: underline;
  color: #1111cc;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #0d0d9d;
}
/* line 22, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: #1111cc;
}
/* line 26, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: #1111cc;
}
/* line 30, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #ed23ba;
}
/* line 117, ../stylesheets/_pop_base.scss */
body blockquote {
  padding: 20px;
  margin: 20px;
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  color: #222222;
  font-style: italic;
}
/* line 121, ../stylesheets/_pop_base.scss */
body blockquote p:last-child {
  margin-bottom: 0;
}
/* line 125, ../stylesheets/_pop_base.scss */
body strong {
  font-weight: bold;
}
/* line 126, ../stylesheets/_pop_base.scss */
body em {
  font-style: italic;
}
/* line 127, ../stylesheets/_pop_base.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 128, ../stylesheets/_pop_base.scss */
body sup, body sub {
  line-height: 0;
}
/* line 130, ../stylesheets/_pop_base.scss */
body abbr,
body acronym {
  border-bottom: 1px dotted #a2a2a2;
}
/* line 131, ../stylesheets/_pop_base.scss */
body address {
  margin: 0 0 20px;
  font-style: italic;
}
/* line 132, ../stylesheets/_pop_base.scss */
body del {
  color: #a2a2a2;
  text-decoration: line-through;
}
/* line 136, ../stylesheets/_pop_base.scss */
body pre {
  font: normal 11px "andale mono", "lucida console", monospace, serif;
  line-height: 20px;
  padding: 20px;
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  color: #222222;
  font-style: normal;
  position: relative;
  margin: 20px 0;
  white-space: pre;
  overflow-x: hidden;
  z-index: 1;
}
/* line 146, ../stylesheets/_pop_base.scss */
body code, body tt {
  font: normal 11px "andale mono", "lucida console", monospace, serif;
  line-height: 20px;
}
/* line 148, ../stylesheets/_pop_base.scss */
body table {
  margin-bottom: 20px;
  width: 100%;
}
/* line 149, ../stylesheets/_pop_base.scss */
body th, body td {
  vertical-align: middle;
}
/* line 150, ../stylesheets/_pop_base.scss */
body th {
  font-weight: bold;
}
/* line 151, ../stylesheets/_pop_base.scss */
body thead th {
  background: white;
}
/* line 152, ../stylesheets/_pop_base.scss */
body th, body td, body caption {
  padding: 4px 5px;
}
/* line 153, ../stylesheets/_pop_base.scss */
body tr.even, body tr.odd {
  background: none;
}
/* line 154, ../stylesheets/_pop_base.scss */
body tr.even td {
  background: #f4f4f4;
}
/* line 155, ../stylesheets/_pop_base.scss */
body tfoot {
  font-style: italic;
}
/* line 156, ../stylesheets/_pop_base.scss */
body caption {
  background: #f4f4f4;
}
/* line 158, ../stylesheets/_pop_base.scss */
body dl {
  margin: 0 0 20px 0;
}
/* line 160, ../stylesheets/_pop_base.scss */
body dl dt {
  font-weight: bold;
}
/* line 164, ../stylesheets/_pop_base.scss */
body dd {
  margin-left: 20px;
}
/* line 167, ../stylesheets/_pop_base.scss */
body hr {
  background: #f4f4f4;
  border: none;
  clear: both;
  color: #f4f4f4;
  height: 1px;
  margin: 10px 0;
}
/* line 19, ../stylesheets/base.scss */
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../stylesheets/base.scss */
.logo {
  display: inline;
  float: left;
  margin: 0 20px 0 0;
}

/* line 26, ../stylesheets/base.scss */
.site-name-slogan h1 {
  font-size: 36px;
}
/* line 28, ../stylesheets/base.scss */
.site-name-slogan h1 a {
  text-decoration: none;
}

/* line 32, ../stylesheets/base.scss */
.slogan {
  font-size: 14px;
  font-style: italic;
}

/*--- useful classes --- */
/* seo/accessibility navigation */
/* line 36, ../stylesheets/base.scss */
.skip {
  position: absolute;
  top: -9999px;
  left: -9999px;
  height: 1px;
  width: 1px;
}
/* line 42, ../stylesheets/base.scss */
.skip:focus, .skip:active {
  position: static;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
}

/* line 51, ../stylesheets/base.scss */
.hidden {
  display: none;
}

/* line 52, ../stylesheets/base.scss */
.quiet {
  color: #a2a2a2;
}

/* line 53, ../stylesheets/base.scss */
.loud {
  color: black;
}

/* new clearfix */
/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack/ */
/* line 58, ../stylesheets/base.scss */
.clear-block,
.clearfix {
  *zoom: 1;
}
/* line 193, ../stylesheets/_pop_base.scss */
.clear-block:after,
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

/*--- drupal override --- */
/* forms */
/* line 62, ../stylesheets/base.scss */
input, select {
  font: normal 12px Helvetica, Arial, sans-serif;
  line-height: 20px;
}

/* line 63, ../stylesheets/base.scss */
textarea {
  border-top: 1px solid #bebebe;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #b1b1b1;
  font: normal 12px Helvetica, Arial, sans-serif;
  line-height: 20px;
}

/* line 66, ../stylesheets/base.scss */
input.form-text {
  border-top: 1px solid #bebebe;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #b1b1b1;
}
/* line 70, ../stylesheets/base.scss */
input.form-radio, input.form-checkbox {
  vertical-align: middle;
  margin: 0 0 2px 0;
}
/* line 74, ../stylesheets/base.scss */
input.form-submit {
  cursor: pointer;
  font-weight: bold;
}

/* line 80, ../stylesheets/base.scss */
label {
  font-weight: bold;
}

/* line 84, ../stylesheets/base.scss */
.description {
  color: #a2a2a2;
  font-size: 11px;
}

/* line 89, ../stylesheets/base.scss */
.form-item {
  position: relative;
  padding: 4px 9px;
}
/* line 93, ../stylesheets/base.scss */
.teaser-checkbox .form-item, .form-item .form-item, .fieldset .form-item, table .form-item {
  margin: 0;
}
/* line 97, ../stylesheets/base.scss */
.form-item .description {
  background: #222;
  border: 5px solid #444;
  color: #eee;
  display: none;
  left: 30%;
  margin: 0;
  max-width: 70%;
  padding: 5px 10px;
  position: absolute;
  bottom: 100%;
  z-index: 20;
  /* higher than superfish 10 */
}
/* line 111, ../stylesheets/base.scss */
.form-item:hover, .fieldset .form-item:hover {
  z-index: 1;
  /*background-color: #444; color: #eee; */
}
/* line 115, ../stylesheets/base.scss */
.form-item:hover > .description, .fieldset .form-item:hover > .description {
  display: block;
}

/* line 121, ../stylesheets/base.scss */
.resizable-textarea .grippie {
  background-color: #f4f4f4;
}

/* fieldsets */
/* line 126, ../stylesheets/base.scss */
.fieldset {
  border: 1px solid #e5e5e5;
  display: block;
  margin-bottom: 20px;
}
/* line 131, ../stylesheets/base.scss */
.fieldset .fieldset-title {
  background: #f4f4f4;
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 4px 9px 5px;
}
/* line 137, ../stylesheets/base.scss */
.fieldset .fieldset-title a {
  background: #f4f4f4;
  color: #222222;
  display: block;
  /*      font-size: 14px;*/
  margin: 0;
  padding: 4px 9px 5px;
  text-decoration: none;
}
/* line 148, ../stylesheets/base.scss */
.fieldset .fieldset-content {
  background: white;
  display: block;
  padding: 10px 9px 9px;
}
/* line 153, ../stylesheets/base.scss */
.fieldset .fieldset-content > .description {
  margin: 0 0 10px;
}
/* line 158, ../stylesheets/base.scss */
.fieldset .fieldset .fieldset-content {
  background: white;
}
/* line 162, ../stylesheets/base.scss */
.fieldset table {
  margin: 0px;
}

/* line 168, ../stylesheets/base.scss */
.collapsible .fieldset-title {
  cursor: pointer;
  padding: 0;
  position: relative;
}
/* line 172, ../stylesheets/base.scss */
.collapsible .fieldset-title a {
  background: transparent url('../images/menu-expanded.png?1087761867') 9px 10px no-repeat;
  padding-left: 20px;
}

/* line 179, ../stylesheets/base.scss */
.collapsed .fieldset-title a {
  background: transparent url('../images/menu-collapsed.png?1087761867') 7px 10px no-repeat;
  color: #555555;
  padding-bottom: 4px;
  padding-left: 20px;
}
/* line 184, ../stylesheets/base.scss */
.collapsed .fieldset-title a:hover {
  color: #222222;
  background-color: #e7e7e7;
}
/* line 190, ../stylesheets/base.scss */
.collapsed .fieldset-content, html.js .collapsed .fieldset-content {
  display: none;
}

/* autocomplete adjustment due to new padding */
/* line 197, ../stylesheets/base.scss */
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
/* line 200, ../stylesheets/base.scss */
html.js input.throbbing {
  background-position: 100% -16px;
  /* LTR */
}

/* form container */
/* line 206, ../stylesheets/base.scss */
.container-inline {
  margin: 0px 0px 10px;
}
/* line 207, ../stylesheets/base.scss */
.container-inline h2, .container-inline div {
  display: inline;
  border: 0;
  padding: 0;
  background: transparent;
}

/* lists */
/* line 218, ../stylesheets/base.scss */
ul, ol {
  display: list-item;
}
/* line 220, ../stylesheets/base.scss */
ul li, ol li {
  margin: 0 0 0 20px;
}

/* line 224, ../stylesheets/base.scss */
ul li {
  list-style-type: disc;
}

/* line 225, ../stylesheets/base.scss */
ol li {
  list-style-type: decimal;
}

/* line 228, ../stylesheets/base.scss */
ul.links {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  list-style: none;
}
/* line 51, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.links li:first-child, ul.links li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.links li:last-child, ul.links li.last {
  padding-right: 0px;
}

/* line 236, ../stylesheets/base.scss */
.item-list ul, .item-list li {
  margin: 0;
  list-style: none;
}
/* line 240, ../stylesheets/base.scss */
.item-list h3 {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 4px 9px 5px;
  color: #333333;
  background: #f4f4f4;
}

/* line 250, ../stylesheets/base.scss */
li ul, li ol {
  margin: 0;
}

/* line 253, ../stylesheets/base.scss */
.menu li.expanded {
  list-style-type: circle;
  list-style-image: url('../images/menu-expanded.png?1087761867');
}
/* line 257, ../stylesheets/base.scss */
.menu li.collapsed {
  list-style-type: disc;
  list-style-image: url('../images/menu-collapsed.png?1087761867');
  /* LTR */
}
/* line 261, ../stylesheets/base.scss */
.menu li.leaf {
  list-style-type: square;
  list-style-image: url('../images/menu-leaf.png?1139474161');
}

/* messages */
/* line 268, ../stylesheets/base.scss */
div.messages {
  border: 5px solid #fff;
  padding: 10px;
  margin: 0 0 10px 0;
}

/* line 275, ../stylesheets/base.scss */
table tr.ok th,
table tr.info th {
  color: #219021;
  background: #e4ffcf;
  border-color: #fff8f4;
}

/* line 276, ../stylesheets/base.scss */
table tr.warning th {
  color: #9c8b00;
  background: #fff4c0;
  border-color: #fffce4;
}

/* line 277, ../stylesheets/base.scss */
table tr.error th {
  color: #f70034;
  background: #ffe6e6;
  border-color: #f8fffc;
}

/* line 279, ../stylesheets/base.scss */
div.status {
  color: #219021;
  background: #e4ffcf;
  border-color: #fff8f4;
}

/* line 280, ../stylesheets/base.scss */
div.error {
  color: #9c8b00;
  background: #fff4c0;
  border-color: #fffce4;
}

/* line 281, ../stylesheets/base.scss */
div.warning {
  color: #f70034;
  background: #ffe6e6;
  border-color: #f8fffc;
}

/* search box */
/* line 285, ../stylesheets/base.scss */
.search-box {
  float: right;
}

/* line 288, ../stylesheets/base.scss */
#search-theme-form input[type="image"] {
  vertical-align: bottom;
}

/* blocks */
/* line 293, ../stylesheets/base.scss */
div.block {
  margin-bottom: 20px;
}
/* line 296, ../stylesheets/base.scss */
div.block .block-title {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 4px 9px 5px;
  color: #222222;
  background: #f4f4f4;
}
/* line 304, ../stylesheets/base.scss */
div.block .block-content {
  padding: 10px 9px 9px;
  background: white;
}

/* line 310, ../stylesheets/base.scss */
.block-region {
  background: #f4f4f4;
  border: 5px solid #e5e5e5;
  color: #222222;
  font-style: italic;
  color: #222222;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* block editing */
/* line 320, ../stylesheets/base.scss */
.with-block-editing {
  position: relative;
}
/* line 322, ../stylesheets/base.scss */
.with-block-editing:hover .block-edit {
  display: block !important;
}

/* line 327, ../stylesheets/base.scss */
.block-edit {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  /*  background: $background-color;
    color: $font_color;*/
  display: none !important;
  position: absolute;
  right: 0;
  bottom: 100%;
  z-index: 5;
  /*  .icon {
      background: $font_color url(../images/block-edit.png) no-repeat 50% 50%;
      border-bottom: 0;
      float: right;
      height: 27px;
      width: 30px;
    }
    div {
      background: #222222;
      margin-top: 27px;
      padding: 4px 8px 6px;
    }*/
}
/* line 336, ../stylesheets/base.scss */
.block-edit span, .block-edit a {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.block-edit span:first-child, .block-edit span.first, .block-edit a:first-child, .block-edit a.first {
  padding-left: 0px;
}
/* line 44, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.block-edit span:last-child, .block-edit span.last, .block-edit a:last-child, .block-edit a.last {
  padding-right: 0px;
}

/* pagers */
/* line 355, ../stylesheets/base.scss */
div.pager {
  font-weight: normal;
  font-size: 11px;
}
/* line 359, ../stylesheets/base.scss */
div.pager ul.pager-list {
  float: left;
}
/* line 362, ../stylesheets/base.scss */
div.pager ul.pager-links {
  float: right;
}

/* nodes */
/* line 369, ../stylesheets/base.scss */
.node {
  margin-bottom: 20px;
}

/* comments */
/* line 372, ../stylesheets/base.scss */
.comment-name {
  display: inline;
}

/* line 374, ../stylesheets/base.scss */
.indented {
  margin-left: 20px;
  /* LTR */
}

/* line 375, ../stylesheets/base.scss */
.comment-unpublished {
  background: #f4f4f4;
}

/* poll */
/* line 378, ../stylesheets/base.scss */
.poll {
  margin-bottom: 20px;
}
/* line 381, ../stylesheets/base.scss */
.poll .bar {
  background: #f4f4f4;
  display: block;
  height: 20px;
  overflow: hidden;
  width: 100%;
}
/* line 387, ../stylesheets/base.scss */
.poll .bar .foreground {
  background: #e5e5e5;
  height: 20px;
}
/* line 392, ../stylesheets/base.scss */
.poll .percent {
  float: right;
  margin-top: -40px;
}

/* toggle */
/* line 399, ../stylesheets/base.scss */
.toggle-hidden {
  display: none;
}

/* line 402, ../stylesheets/base.scss */
.toggle-open {
  display: block;
}

/* admin areas */
/* line 407, ../stylesheets/base.scss */
div.admin .left {
  float: left;
  /* LTR */
  width: 48%;
}

/* line 411, ../stylesheets/base.scss */
div.admin .right {
  float: right;
  /* LTR */
  width: 48%;
}

/* line 417, ../stylesheets/base.scss */
.admin-panel h3 {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 4px 9px 5px;
  color: #333333;
  background: #f4f4f4;
}
/* line 425, ../stylesheets/base.scss */
.admin-panel .body {
  margin-bottom: 20px;
}

/* line 430, ../stylesheets/base.scss */
.update table.version ul.links {
  padding: 0 5px;
}
/* line 432, ../stylesheets/base.scss */
.update table.version ul.links li {
  padding: 0 5px;
}

/* line 438, ../stylesheets/base.scss */
#user-admin-filter ul li {
  list-style: none;
  margin: 0;
}
/* line 442, ../stylesheets/base.scss */
#user-admin-filter .form-item {
  padding: 0;
}

/* line 446, ../stylesheets/base.scss */
dl.multiselect {
  margin: 0;
}

/* line 451, ../stylesheets/base.scss */
#edit-type-wrapper,
#edit-severity-wrapper {
  float: left;
  /* LTR */
  padding-right: .8em;
  /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}

/* line 462, ../stylesheets/base.scss */
#dblog-filter-form .form-item select.form-select {
  width: 100%;
}

/* line 467, ../stylesheets/base.scss */
#node-admin-filter ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 473, ../stylesheets/base.scss */
#node-admin-filter .form-item {
  padding: 0;
}

/* line 477, ../stylesheets/base.scss */
#node-admin-buttons {
  float: left;
  /* LTR */
  margin-left: 0.5em;
  /* LTR */
  clear: right;
  /* LTR */
}

/* og support */
/* line 485, ../stylesheets/base.scss */
.groups .links li {
  float: none;
}

/* jquery ui */
/* line 491, ../stylesheets/base.scss */
.ui-dialog {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
