/* $Id$ */
/**
 * @file
 * forDrupal Pop dark theme CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* $Id$ */
/**
 * @file
 * forDrupal Pop _base CSS (CSS not generated, for inclusion only)..
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* line 70, ../stylesheets/dark.scss */
.dark {
  background: #111111;
  color: #dddddd;
}
/* line 50, ../stylesheets/dark.scss */
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #eeeeee;
}
/* line 53, ../stylesheets/dark.scss */
.dark a {
  color: #2f31ff;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.dark a:visited {
  color: #0002fb;
}
/* line 22, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.dark a:focus {
  color: #6264ff;
}
/* line 26, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.dark a:hover {
  color: #6264ff;
}
/* line 30, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.dark a:active {
  color: #ff62d9;
}
/* line 56, ../stylesheets/dark.scss */
.dark del {
  color: #a2a2a2;
  text-decoration: line-through;
}
/* line 58, ../stylesheets/dark.scss */
.dark thead th {
  background: #505353;
}
/* line 59, ../stylesheets/dark.scss */
.dark tr.even, .dark tr.odd {
  background: none;
}
/* line 60, ../stylesheets/dark.scss */
.dark tr.even td {
  background: #2f2f2f;
}
/* line 61, ../stylesheets/dark.scss */
.dark td.active {
  background: #444;
}
/* line 62, ../stylesheets/dark.scss */
.dark caption {
  background: #2f2f2f;
}
/* line 64, ../stylesheets/dark.scss */
.dark hr {
  background: #505353;
  color: #505353;
}
/* line 74, ../stylesheets/dark.scss */
.dark .quiet {
  color: #444444;
}
/* line 75, ../stylesheets/dark.scss */
.dark .loud {
  color: white;
}
/* line 76, ../stylesheets/dark.scss */
.dark .fieldset {
  border: 1px solid #505353;
}
/* line 78, ../stylesheets/dark.scss */
.dark .fieldset .fieldset-title {
  background: #505353;
}
/* line 80, ../stylesheets/dark.scss */
.dark .fieldset .fieldset-title a {
  background: #505353;
  color: #dddddd;
}
/* line 85, ../stylesheets/dark.scss */
.dark .fieldset .fieldset-content {
  background: #2f2f2f;
}
/* line 89, ../stylesheets/dark.scss */
.dark .block {
  border: 1px solid #505353;
}
/* line 91, ../stylesheets/dark.scss */
.dark .block .block-title {
  color: #dddddd;
  background: #505353;
}
/* line 95, ../stylesheets/dark.scss */
.dark .block .block-content {
  background: #2f2f2f;
}
