/* $Id$ */
/*
 * @file
 * forDrupal theme CSS.
 * Copyright 2010 forDrupal. All rights reserved. */
/*--- General IE6/7 fixes --- */
/* line 11, ../scss/ie.scss */
* html .clearfix,
*:first-child + html .clearfix {
  zoom: 1;
}

/* Fixes incorrect placement of ol numbers in IE6/7. */
/* line 14, ../scss/ie.scss */
ol {
  margin-left: 2em;
}

/* Fixes wrong line-height on sup/sub in IE. */
/* line 17, ../scss/ie.scss */
sup {
  vertical-align: text-top;
}

/* line 18, ../scss/ie.scss */
sub {
  vertical-align: text-bottom;
}

/* Fixes IE7 missing wrapping of code elements. */
/* line 21, ../scss/ie.scss */
html > body p code {
  white-space: normal;
}

/* IE 6&7 has problems with setting proper <hr> margins. */
/* line 24, ../scss/ie.scss */
hr {
  margin: -4px auto 4px;
}

/* Limit legend width to text length */
/* line 27, ../scss/ie.scss */
form fieldset legend {
  display: inline-block !important;
}

/* line 28, ../scss/ie.scss */
fieldset {
  padding-top: 0;
}
