/*
 * @file
 * forDrupal Pop content first fluid layout CSS.
 * Fluid layout. Same HTML markup in all layouts.
 * Copyright 2010 forDrupal. All rights reserved. */
/*
 * @documentation body layout classes
 *  .no-sidebars:     1 column 100%/980px
 *  .sidebar-first:   2 columns [ 20% | 80% * ]
 *  .sidebar-second:  2 columns [ 80% * | 20% ]
 *  .two-sidebars:    3 columns [ 20% | 60% * | 20% ]
 *  .all-sidebars-left:   3 columns [ 20% | 20% | 60% * ]
 *  .all-sidebars-right:  3 columns [ 60% * | 20% | 20% ]
 *  .equal:   all columns equal heights
 *  .stacked: all columns stacked with 100% width, ignoring all classes above.
 *            In sequence of header, primary content, first sidebar, second sidebar, footer
 *
 *  Note *: primary content area
 *
 * @documentation content first html structure
 *  <body class="[layout classes]">
 *    <div id="wrapper">
 *      <div id="header">
 *        <!-- header content -->
 *      </div>
 *      <div id="page">
 *        <div id="content">
 *          <!-- primary content -->
 *        </div>
 *        <div id="first-sidebar">
 *          <!-- first sidebar -->
 *        </div>
 *        <div id="second-sidebar">
 *          <!-- second sidebar -->
 *        </div>
 *      </div>
 *      <div id="footer">
 *        <!-- footer content -->
 *      </div>
 *    </div>
 *  </body>
 * */
/*--- layout --- */
/* line 47, ../scss/layout-fluid.scss */
#wrapper {
  margin: 0 auto;
  width: 100%;
}

/* line 51, ../scss/layout-fluid.scss */
#header, #page-title, #footer {
  position: relative;
  width: 100%;
}

/* line 55, ../scss/layout-fluid.scss */
#content, #first-sidebar, #second-sidebar {
  float: left;
  position: relative;
}

/* line 59, ../scss/layout-fluid.scss */
.no-sidebars #content {
  width: 100%;
}

/* line 63, ../scss/layout-fluid.scss */
.sidebar-first #content {
  margin-left: 20%;
  width: 80%;
}
/* line 66, ../scss/layout-fluid.scss */
.sidebar-first #first-sidebar {
  margin-left: -100%;
  padding-right: 20px;
  width: 20%;
}
/* line 70, ../scss/layout-fluid.scss */
.sidebar-first #second-sidebar {
  display: none;
}

/* line 74, ../scss/layout-fluid.scss */
.sidebar-second #content {
  width: 80%;
}
/* line 76, ../scss/layout-fluid.scss */
.sidebar-second #first-sidebar {
  display: none;
}
/* line 78, ../scss/layout-fluid.scss */
.sidebar-second #second-sidebar {
  float: right;
  padding-left: 20px;
  width: 20%;
}

/* line 84, ../scss/layout-fluid.scss */
.two-sidebars #content {
  margin-left: 20%;
  width: 60%;
}
/* line 87, ../scss/layout-fluid.scss */
.two-sidebars #first-sidebar {
  margin-left: -80%;
  padding-right: 20px;
  width: 20%;
}
/* line 91, ../scss/layout-fluid.scss */
.two-sidebars #second-sidebar {
  float: right;
  padding-left: 20px;
  width: 20%;
}

/* line 97, ../scss/layout-fluid.scss */
.all-sidebars-left #content {
  float: right;
  width: 60%;
}
/* line 100, ../scss/layout-fluid.scss */
.all-sidebars-left #first-sidebar, .all-sidebars-left #second-sidebar {
  padding-right: 20px;
  width: 20%;
}

/* line 105, ../scss/layout-fluid.scss */
.all-sidebars-right #content {
  width: 60%;
}
/* line 107, ../scss/layout-fluid.scss */
.all-sidebars-right #first-sidebar, .all-sidebars-right #second-sidebar {
  padding-left: 20px;
  width: 20%;
}

/* Stacked, should not use with .equal */
/* line 115, ../scss/layout-fluid.scss */
body.stacked #content, body.stacked #first-sidebar, body.stacked #second-sidebar {
  float: none;
  margin: 0 auto;
  width: 100%;
}
/* line 120, ../scss/layout-fluid.scss */
body.equal #page {
  overflow: hidden;
  padding-bottom: 0;
}
/* line 123, ../scss/layout-fluid.scss */
body.equal #content, body.equal #first-sidebar, body.equal #second-sidebar {
  margin-bottom: -32767px;
  padding-bottom: 32767px;
}

/* Equal height */
@media all and (min-width: 0px) {
  /* line 131, ../scss/layout-fluid.scss */
  body.equal #content, body.equal #first-sidebar, body.equal #second-sidebar {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  /* line 134, ../scss/layout-fluid.scss */
  body.equal #content[id^="content"]:before, body.equal #first-sidebar[id^="first-sidebar"]:before, body.equal #second-sidebar[id^="second-sidebar"]:before {
    content: " ";
    display: block;
    background: inherit;
    padding-top: 32767px !important;
    margin-bottom: -32767px !important;
    height: 0;
  }
}
