/**
 * @file
 * forDrupal Pop 3 columns content first source order fixed/fluid layout CSS.
 * Fixed/fluid width layout. Same HTML markup in all layouts.
 * Copyright 2010 forDrupal. All rights reserved.
 */
/**
 * @file
 * forDrupal Pop base CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */
/*--- browser reset --- */
/* line 14, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 182, ../scss/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*--- typography --- */
/* line 186, ../scss/base.scss */
body {
  font: normal 12px Arial, Helvetica, sans-serif;
  line-height: 18px;
  color: #222222;
 /* Fixed Monospace Sizing
* http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
  /* override the background and color to change hr line color */
  /* For great looking quote marks in titles, replace "title text" with:
   * <span class="dquo">&#8220;</span>title text&#8221;
   * (That is, when the title starts with a quote mark).
   * (You may have to change this value depending on your font size). */
  background: #fff;
}
/* line 70, ../scss/base.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: bold;
  color: #111111;
}
/* line 72, ../scss/base.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 76, ../scss/base.scss */
body h1 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 3px;
}
/* line 77, ../scss/base.scss */
body h2 {
  font-size: 22px;
  margin-bottom: 5px;
}
/* line 78, ../scss/base.scss */
body h3 {
  font-size: 18px;
  margin-bottom: 9px;
}
/* line 79, ../scss/base.scss */
body h4 {
  font-size: 17px;
  margin-bottom: 10px;
}
/* line 80, ../scss/base.scss */
body h5 {
  font-size: 14px;
  margin-bottom: 4px;
}
/* line 81, ../scss/base.scss */
body h6 {
  font-size: 12px;
  margin-bottom: 6px;
}
/* line 82, ../scss/base.scss */
body p {
  margin: 0 0 18px;
}
/* line 84, ../scss/base.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 18px 18px 18px 0;
  padding: 0;
}
/* line 85, ../scss/base.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 18px 0 18px 18px;
  padding: 0;
}
/* line 87, ../scss/base.scss */
body a {
  text-decoration: underline;
  color: #1111cc;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #0d0d9d;
}
/* line 21, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: #1111cc;
}
/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: #1111cc;
}
/* line 27, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #ed23ba;
}
/* line 90, ../scss/base.scss */
body blockquote {
  padding: 18px;
  margin: 18px;
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  color: #555555;
  font-style: italic;
}
/* line 91, ../scss/base.scss */
body strong {
  font-weight: bold;
}
/* line 92, ../scss/base.scss */
body em {
  font-style: italic;
}
/* line 93, ../scss/base.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 94, ../scss/base.scss */
body sup, body sub {
  line-height: 0;
}
/* line 96, ../scss/base.scss */
body abbr,
body acronym {
  border-bottom: 1px dotted #555555;
}
/* line 97, ../scss/base.scss */
body address {
  margin: 0 0 18px;
  font-style: italic;
}
/* line 98, ../scss/base.scss */
body del {
  color: #555555;
}
/* line 102, ../scss/base.scss */
body pre {
  font: normal 11px "andale mono", "lucida console", monospace, serif;
  line-height: 18px;
  padding: 18px;
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  color: #555555;
  font-style: normal;
  margin: 18px 0;
  white-space: normal;
}
/* line 109, ../scss/base.scss */
body code, body tt {
  font: normal 11px "andale mono", "lucida console", monospace, serif;
  line-height: 18px;
}
/* line 111, ../scss/base.scss */
body table {
  margin-bottom: 18px;
  width: 100%;
}
/* line 112, ../scss/base.scss */
body th, body td {
  vertical-align: top;
}
/* line 113, ../scss/base.scss */
body th {
  font-weight: bold;
}
/* line 114, ../scss/base.scss */
body thead th {
  background: white;
}
/* line 115, ../scss/base.scss */
body th, body td, body caption {
  padding: 4px 5px;
}
/* line 116, ../scss/base.scss */
body tr.even, body tr.odd {
  background: none;
}
/* line 117, ../scss/base.scss */
body tr.even td {
  background: #f4f4f4;
}
/* line 118, ../scss/base.scss */
body tfoot {
  font-style: italic;
}
/* line 119, ../scss/base.scss */
body caption {
  background: #f4f4f4;
}
/* line 121, ../scss/base.scss */
body dl {
  margin: 0 0 18px 0;
}
/* line 123, ../scss/base.scss */
body dl dt {
  font-weight: bold;
}
/* line 127, ../scss/base.scss */
body dd {
  margin-left: 18px;
}
/* line 130, ../scss/base.scss */
body hr {
  background: #f4f4f4;
  border: none;
  clear: both;
  color: #f4f4f4;
  height: 1px;
  margin: 9px 0;
}
/* line 143, ../scss/base.scss */
body .dquo {
  margin-left: -6px;
}

/*--- useful classes --- */
/* seo/accessibility navigation */
/* line 193, ../scss/base.scss */
.skip {
  position: absolute;
  top: -9999px;
  left: -9999px;
  height: 1px;
  width: 1px;
}
/* line 199, ../scss/base.scss */
.skip:focus, .skip:active {
  position: static;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
}

/* line 208, ../scss/base.scss */
.hidden {
  display: none;
}

/* new clearfix */
/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack/ */
/* line 212, ../scss/base.scss */
.clearfix {
  display: inline-block;
}
/* line 147, ../scss/base.scss */
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}
/* line 8, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
.clearfix {
  display: block;
}

/*--- drupal override --- */
/* forms */
/* line 223, ../scss/base.scss */
input, select {
  font: normal 12px Helvetica, Arial, sans-serif;
  line-height: 18px;
}

/* line 224, ../scss/base.scss */
textarea {
  border: 1px solid #dbdbdb;
  border-top-color: #bebebe;
  border-left-color: #b1b1b1;
  padding: 2px;
  font: normal 12px Helvetica, Arial, sans-serif;
  line-height: 18px;
}

/* line 227, ../scss/base.scss */
input.form-text {
  border: 1px solid #dbdbdb;
  border-top-color: #bebebe;
  border-left-color: #b1b1b1;
  padding: 2px;
}
/* line 230, ../scss/base.scss */
input.form-radio, input.form-checkbox {
  vertical-align: middle;
  margin: 0 0 2px 0;
}
/* line 234, ../scss/base.scss */
input.form-submit {
  cursor: pointer;
  font-weight: bold;
}

/* line 240, ../scss/base.scss */
label {
  font-weight: bold;
}

/* line 242, ../scss/base.scss */
.description {
  color: #555555;
  font-size: 11px;
}

/* line 247, ../scss/base.scss */
.form-item {
  position: relative;
  padding: 4px 9px;
}
/* line 251, ../scss/base.scss */
.teaser-checkbox .form-item, .form-item .form-item, .fieldset .form-item, table .form-item {
  margin: 0;
}
/* line 255, ../scss/base.scss */
.form-item .description {
  background: #222;
  border: 5px solid #444;
  color: #eee;
  display: none;
  left: 30%;
  margin: 0;
  max-width: 70%;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  z-index: 5;
}
/* line 269, ../scss/base.scss */
.form-item:hover, .fieldset .form-item:hover {
  z-index: 1;
  /*background-color: #444; color: #eee; */
}
/* line 273, ../scss/base.scss */
.form-item:hover > .description, .fieldset .form-item:hover > .description {
  display: block;
}

/* fieldsets */
/* line 281, ../scss/base.scss */
.fieldset {
  border: 1px solid #e5e5e5;
  display: block;
  margin-bottom: 18px;
}
/* line 286, ../scss/base.scss */
.fieldset .fieldset-title {
  background: #f4f4f4;
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 4px 9px 5px;
}
/* line 292, ../scss/base.scss */
.fieldset .fieldset-title a {
  background: #f4f4f4;
  color: #222222;
  display: block;
  /*      font-size: 14px;*/
  margin: 0;
  padding: 4px 9px 5px;
  text-decoration: none;
}
/* line 303, ../scss/base.scss */
.fieldset .fieldset-content {
  background: white;
  display: block;
  padding: 10px 9px 9px;
}
/* line 308, ../scss/base.scss */
.fieldset .fieldset-content > .description {
  margin: 0 0 10px;
}
/* line 313, ../scss/base.scss */
.fieldset .fieldset .fieldset-content {
  background: white;
}
/* line 317, ../scss/base.scss */
.fieldset table {
  margin: 0px;
}

/* line 323, ../scss/base.scss */
.collapsible .fieldset-title {
  background: transparent;
  cursor: pointer;
  padding: 0;
  position: relative;
}

/* line 331, ../scss/base.scss */
.collapsed .fieldset-title a {
  color: #555555;
  padding-bottom: 4px;
}
/* line 334, ../scss/base.scss */
.collapsed .fieldset-title a:hover {
  color: #222222;
  background: #e7e7e7;
}
/* line 339, ../scss/base.scss */
.collapsed .fieldset-content, html.js .collapsed .fieldset-content {
  display: none;
}

/* autocomplete adjustment due to new padding */
/* line 346, ../scss/base.scss */
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
/* line 348, ../scss/base.scss */
html.js input.throbbing {
  background-position: 100% -16px;
  /* LTR */
}

/* form container */
/* line 354, ../scss/base.scss */
.container-inline {
  margin: 0px 0px 10px;
}
/* line 355, ../scss/base.scss */
.container-inline h2, .container-inline div {
  display: inline;
  border: 0;
  padding: 0;
  background: transparent;
}

/* lists */
/* line 366, ../scss/base.scss */
ul, ol {
  display: list-item;
  list-style-type: none;
}

/* line 372, ../scss/base.scss */
ul.links {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  list-style: none;
}
/* line 8, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
ul.links {
  display: block;
}
/* line 50, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 41, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.links li:first-child, ul.links li.first {
  padding-left: 0px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.links li:last-child, ul.links li.last {
  padding-right: 0px;
}

/* line 380, ../scss/base.scss */
.item-list ul, .item-list li {
  margin: 0;
  list-style: none;
}
/* line 384, ../scss/base.scss */
.item-list ul li {
  padding: 5px 10px 4px;
}
/* line 387, ../scss/base.scss */
.item-list h3 {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 4px 9px 5px;
  color: #333333;
  background: #f4f4f4;
}

/* line 397, ../scss/base.scss */
li ul, li ol {
  margin: 0;
}

/* line 400, ../scss/base.scss */
.node ul li {
  margin: 0 0 0 20px;
  list-style-type: disc;
}
/* line 401, ../scss/base.scss */
.node ol li {
  margin: 0 0 0 20px;
  list-style-type: decimal;
}

/* messages */
/* line 415, ../scss/base.scss */
table tr.ok th,
table tr.info th {
  color: #219021;
  background: #e4ffcf;
  border-color: #fff8f4;
}

/* line 416, ../scss/base.scss */
table tr.warning th {
  color: #9c8b00;
  background: #fff4c0;
  border-color: #fffce4;
}

/* line 417, ../scss/base.scss */
table tr.error th {
  color: #f70034;
  background: #ffe6e6;
  border-color: #f8fffc;
}

/* line 419, ../scss/base.scss */
div.status {
  border: 5px solid #fff;
  padding: 13px 15px;
  color: #219021;
  background: #e4ffcf;
  border-color: #fff8f4;
}

/* line 420, ../scss/base.scss */
div.error {
  border: 5px solid #fff;
  padding: 13px 15px;
  color: #9c8b00;
  background: #fff4c0;
  border-color: #fffce4;
}

/* line 421, ../scss/base.scss */
div.warning {
  border: 5px solid #fff;
  padding: 13px 15px;
  color: #f70034;
  background: #ffe6e6;
  border-color: #f8fffc;
}

/* blocks */
/* line 425, ../scss/base.scss */
.block {
  margin-bottom: 18px;
}
/* line 428, ../scss/base.scss */
.block .block-title {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 4px 9px 5px;
  color: #222222;
  background: #f4f4f4;
}
/* line 435, ../scss/base.scss */
.block .block-content {
  padding: 10px 9px 9px;
  background: white;
}

/* line 441, ../scss/base.scss */
.block-region {
  background: #f4f4f4;
  border: 5px solid #e5e5e5;
  color: #555555;
  font-style: italic;
  color: #222222;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* block editing */
/* line 451, ../scss/base.scss */
.with-block-editing {
  position: relative;
}
/* line 453, ../scss/base.scss */
.with-block-editing:hover .block-edit {
  display: block !important;
}

/* line 458, ../scss/base.scss */
.block-edit {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  /*  background: $background-color;
    color: $font_color;*/
  display: none !important;
  position: absolute;
  right: 0;
  bottom: 100%;
  z-index: 5;
  /*  .icon {
      background: $font_color url(../images/block-edit.png) no-repeat 50% 50%;
      border-bottom: 0;
      float: right;
      height: 27px;
      width: 30px;
    }
    div {
      background: #222222;
      margin-top: 27px;
      padding: 4px 8px 6px;
    }*/
}
/* line 8, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
.block-edit {
  display: block;
}
/* line 467, ../scss/base.scss */
.block-edit span, .block-edit a {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}
/* line 41, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.block-edit span:first-child, .block-edit span.first, .block-edit a:first-child, .block-edit a.first {
  padding-left: 0px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.block-edit span:last-child, .block-edit span.last, .block-edit a:last-child, .block-edit a.last {
  padding-right: 0px;
}

/* pagers */
/* line 486, ../scss/base.scss */
div.pager {
  font-weight: normal;
  font-size: 11px;
}
/* line 490, ../scss/base.scss */
div.pager ul.pager-list {
  float: left;
}
/* line 493, ../scss/base.scss */
div.pager ul.pager-links {
  float: right;
}

/* admin areas */
/* line 500, ../scss/base.scss */
.admin-panel h3 {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 4px 9px 5px;
  color: #333333;
  background: #f4f4f4;
}

/* line 509, ../scss/base.scss */
.update table.version ul.links {
  padding: 0 5px;
}
/* line 511, ../scss/base.scss */
.update table.version ul.links li {
  padding: 0 5px;
}

/* line 516, ../scss/base.scss */
.node {
  margin-bottom: 18px;
}

/**
 * @documentation body layout classes
 *  .no-sidebars:     1 column  [ content ]
 *  .sidebar-first:   2 columns [ first_sidebar | content ]
 *  .sidebar-second:  2 columns [ content | second_sidebar ]
 *  .two-sidebars:    3 columns [ first_sidebar | content | second_sidebar ]
 *  .all-sidebars-left:   3 columns [ first_sidebar | second_sidebar | content ]
 *  .all-sidebars-right:  3 columns [ content | first_sidebar | second_sidebar ]
 *  .equal:   all columns equal heights
 *  .stacked: all columns stacked with 100% width, ignoring all classes above.
 *            In sequence of header, primary content, first sidebar, second sidebar, footer
 *
 * @documentation content first html structure
 *  <body class="[layout classes]">
 *    <div id="wrapper">
 *      <div id="header">
 *        <!-- header content -->
 *      </div>
 *      <div id="page">
 *        <div id="content">
 *          <!-- primary content -->
 *        </div>
 *        <div id="first-sidebar">
 *          <!-- first sidebar -->
 *        </div>
 *        <div id="second-sidebar">
 *          <!-- second sidebar -->
 *        </div>
 *      </div>
 *      <div id="footer">
 *        <!-- footer content -->
 *      </div>
 *    </div>
 *  </body>
 */
/*--- layout --- */
/* line 64, ../scss/layout-fixed.scss */
#wrapper {
  min-width: 980px;
  margin: 0 auto;
  width: 60%;
}

/* line 75, ../scss/layout-fixed.scss */
#header, #page-title, #footer {
  margin-bottom: 18px;
  position: relative;
  width: 100%;
}

/* line 81, ../scss/layout-fixed.scss */
#page {
  margin-bottom: 18px;
}

/* line 85, ../scss/layout-fixed.scss */
#content, #first-sidebar, #second-sidebar {
  float: left;
  position: relative;
}

/* line 90, ../scss/layout-fixed.scss */
.no-sidebars #content {
  width: 100%;
}

/* line 95, ../scss/layout-fixed.scss */
.sidebar-first #content {
  margin-left: 20%;
  width: 80%;
}
/* line 99, ../scss/layout-fixed.scss */
.sidebar-first #first-sidebar {
  margin-left: -100%;
  padding-right: 20px;
  width: 20%;
}
/* line 104, ../scss/layout-fixed.scss */
.sidebar-first #second-sidebar {
  display: none;
}

/* line 110, ../scss/layout-fixed.scss */
.sidebar-second #content {
  width: 80%;
}
/* line 113, ../scss/layout-fixed.scss */
.sidebar-second #first-sidebar {
  display: none;
}
/* line 116, ../scss/layout-fixed.scss */
.sidebar-second #second-sidebar {
  float: right;
  padding-left: 20px;
  width: 20%;
}

/* line 124, ../scss/layout-fixed.scss */
.two-sidebars #content {
  margin-left: 20%;
  width: 60%;
}
/* line 128, ../scss/layout-fixed.scss */
.two-sidebars #first-sidebar {
  margin-left: -80%;
  padding-right: 20px;
  width: 20%;
}
/* line 133, ../scss/layout-fixed.scss */
.two-sidebars #second-sidebar {
  float: right;
  padding-left: 20px;
  width: 20%;
}

/* line 141, ../scss/layout-fixed.scss */
.all-sidebars-left #content {
  float: right;
  width: 60%;
}
/* line 145, ../scss/layout-fixed.scss */
.all-sidebars-left #first-sidebar {
  padding-right: 20px;
  width: 20%;
}
/* line 149, ../scss/layout-fixed.scss */
.all-sidebars-left #second-sidebar {
  padding-right: 20px;
  width: 20%;
}

/* line 156, ../scss/layout-fixed.scss */
.all-sidebars-right #content {
  width: 60%;
}
/* line 159, ../scss/layout-fixed.scss */
.all-sidebars-right #first-sidebar {
  padding-left: 20px;
  width: 20%;
}
/* line 163, ../scss/layout-fixed.scss */
.all-sidebars-right #second-sidebar {
  padding-left: 20px;
  width: 20%;
}

/* Stacked layout, should not use with .equal */
/* line 172, ../scss/layout-fixed.scss */
body.stacked #content, body.stacked #first-sidebar, body.stacked #second-sidebar {
  float: none;
  margin: 0 auto;
  width: 100%;
}
/* line 179, ../scss/layout-fixed.scss */
body.equal #page {
  overflow: hidden;
  padding-bottom: 0;
}
/* line 183, ../scss/layout-fixed.scss */
body.equal #content, body.equal #first-sidebar, body.equal #second-sidebar {
  margin-bottom: -32767px;
  padding-bottom: 32767px;
}

/* Equal height */
@media all and (min-width: 0px) {
  /* line 193, ../scss/layout-fixed.scss */
  body.equal #content, body.equal #first-sidebar, body.equal #second-sidebar {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  /* line 197, ../scss/layout-fixed.scss */
  body.equal #content[id^="content"]:before, body.equal #first-sidebar[id^="first-sidebar"]:before, body.equal #second-sidebar[id^="second-sidebar"]:before {
    content: " ";
    display: block;
    background: inherit;
    padding-top: 32767px !important;
    margin-bottom: -32767px !important;
    height: 0;
  }
}
