/* $Id$ */
/**
 * @file
 * forDrupal Pop 3 columns content first source order fixed/fluid layout CSS.
 * Fixed/fluid width layout. Same HTML markup in all layouts.
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* $Id$ */
/**
 * @file
 * forDrupal Pop _base CSS (CSS not generated, for inclusion only)..
 * Copyright 2010 forDrupal. All rights reserved.
 */
/**
 * @documentation body layout classes
 *  .no-sidebars:     1 column  [ content ]
 *  .sidebar-first:   2 columns [ first_sidebar | content ]
 *  .sidebar-second:  2 columns [ content | second_sidebar ]
 *  .two-sidebars:    3 columns [ first_sidebar | content | second_sidebar ]
 *  .all-sidebars-left:   3 columns [ first_sidebar | second_sidebar | content ]
 *  .all-sidebars-right:  3 columns [ content | first_sidebar | second_sidebar ]
 *  .equal:   all columns equal heights
 *  .stacked: all columns stacked with 100% width, ignoring all classes above.
 *            In sequence of header, primary content, first sidebar, second sidebar, footer
 *
 * @documentation content first html structure
 *  <body class="[layout classes]">
 *    <div id="wrapper">
 *      <div id="header">
 *        <!-- header content -->
 *      </div>
 *      <div id="page">
 *        <div id="content">
 *          <!-- primary content -->
 *        </div>
 *        <div id="first-sidebar">
 *          <!-- first sidebar -->
 *        </div>
 *        <div id="second-sidebar">
 *          <!-- second sidebar -->
 *        </div>
 *      </div>
 *      <div id="footer">
 *        <!-- footer content -->
 *      </div>
 *    </div>
 *  </body>
 */
/*--- layout --- */
/* line 54, ../stylesheets/layout.scss */
#wrapper {
  margin: 0 auto;
  width: 960px;
}

/* line 66, ../stylesheets/layout.scss */
#header, #page-title, #footer {
  padding-bottom: 20px;
  position: relative;
  width: 100%;
}

/* line 72, ../stylesheets/layout.scss */
#page {
  margin-bottom: 20px;
}

/* line 76, ../stylesheets/layout.scss */
#content, #first-sidebar, #second-sidebar {
  float: left;
  position: relative;
}

/* line 81, ../stylesheets/layout.scss */
.no-sidebars #content {
  width: 960px;
}

/* line 86, ../stylesheets/layout.scss */
.sidebar-first #content {
  margin-left: 220px;
  width: 740px;
}
/* line 90, ../stylesheets/layout.scss */
.sidebar-first #first-sidebar {
  margin-left: -960px;
  padding-right: 20px;
  width: 220px;
}
/* line 95, ../stylesheets/layout.scss */
.sidebar-first #second-sidebar {
  display: none;
}

/* line 101, ../stylesheets/layout.scss */
.sidebar-second #content {
  width: 740px;
}
/* line 104, ../stylesheets/layout.scss */
.sidebar-second #first-sidebar {
  display: none;
}
/* line 107, ../stylesheets/layout.scss */
.sidebar-second #second-sidebar {
  float: right;
  padding-left: 20px;
  width: 220px;
}

/* line 115, ../stylesheets/layout.scss */
.two-sidebars #content {
  margin-left: 220px;
  width: 520px;
}
/* line 119, ../stylesheets/layout.scss */
.two-sidebars #first-sidebar {
  margin-left: -740px;
  padding-right: 20px;
  width: 220px;
}
/* line 124, ../stylesheets/layout.scss */
.two-sidebars #second-sidebar {
  float: right;
  padding-left: 20px;
  width: 220px;
}

/* line 132, ../stylesheets/layout.scss */
.all-sidebars-left #content {
  float: right;
  width: 520px;
}
/* line 136, ../stylesheets/layout.scss */
.all-sidebars-left #first-sidebar {
  padding-right: 20px;
  width: 220px;
}
/* line 140, ../stylesheets/layout.scss */
.all-sidebars-left #second-sidebar {
  padding-right: 20px;
  width: 220px;
}

/* line 147, ../stylesheets/layout.scss */
.all-sidebars-right #content {
  width: 520px;
}
/* line 150, ../stylesheets/layout.scss */
.all-sidebars-right #first-sidebar {
  padding-left: 20px;
  width: 220px;
}
/* line 154, ../stylesheets/layout.scss */
.all-sidebars-right #second-sidebar {
  padding-left: 20px;
  width: 220px;
}

/* Stacked layout, should not use with .equal */
/* line 163, ../stylesheets/layout.scss */
body.stacked #content, body.stacked #first-sidebar, body.stacked #second-sidebar {
  float: none;
  margin: 0 auto;
  width: 100%;
}
/* line 170, ../stylesheets/layout.scss */
body.equal #page {
  overflow: hidden;
  padding-bottom: 0;
}
/* line 174, ../stylesheets/layout.scss */
body.equal #content, body.equal #first-sidebar, body.equal #second-sidebar {
  margin-bottom: -32767px;
  padding-bottom: 32767px;
}

/* Equal height */
@media all and (min-width: 0px) {
  /* line 183, ../stylesheets/layout.scss */
  body.equal {
    /*    #content, #first-sidebar, #second-sidebar {
          padding-bottom: 0 !important;
          margin-bottom: 0 !important;
        }
    */
  }
  /* line 188, ../stylesheets/layout.scss */
  body.equal #content[id^="content"]:before, body.equal #first-sidebar[id^="first-sidebar"]:before, body.equal #second-sidebar[id^="second-sidebar"]:before {
    content: " ";
    display: block;
    background: inherit;
    padding-top: 32767px !important;
    margin-bottom: -32767px !important;
    height: 0;
  }
}
