/* $Id$ */
/**
 * @file
 * forDrupal superfish navbar CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* $Id$ */
/**
 * @file
 * forDrupal Pop superfish _base CSS (CSS not generated, for inclusion only).
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* $Id$ */
/**
 * @file
 * forDrupal Pop _base CSS (CSS not generated, for inclusion only)..
 * Copyright 2010 forDrupal. All rights reserved.
 */
/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
/* line 12, ../stylesheets/superfish-navbar.scss */
.sf-navbar {
  background: #cccccc;
  height: 35px;
  padding-bottom: 35px;
  position: relative;
}
/* line 17, ../stylesheets/superfish-navbar.scss */
.sf-navbar li {
  background: #cccccc;
  position: static;
}
/* line 25, ../stylesheets/superfish-navbar.scss */
.sf-navbar li.current, .sf-navbar li:hover, .sf-navbar li.sfHover,
.sf-navbar li li.current {
  background: #dddddd;
}
/* line 28, ../stylesheets/superfish-navbar.scss */
.sf-navbar li ul {
  width: 100%;
  /*IE6 soils itself without this*/
}
/* line 31, ../stylesheets/superfish-navbar.scss */
.sf-navbar li li {
  background: #cccccc;
  position: relative;
}
/* line 34, ../stylesheets/superfish-navbar.scss */
.sf-navbar li li ul {
  width: 120px;
}
/* line 37, ../stylesheets/superfish-navbar.scss */
.sf-navbar li li li {
  width: 100%;
}
/* line 39, ../stylesheets/superfish-navbar.scss */
.sf-navbar li li li:hover, .sf-navbar li li li.sfHover {
  background: #dddddd;
}
/* line 45, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul li {
  width: auto;
  float: left;
}
/* line 49, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul li:hover, .sf-navbar ul li.sfHover {
  background: #dddddd;
}
/* line 53, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul li:hover li, .sf-navbar ul li.sfHover li {
  background: #dddddd;
}
/* line 59, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active {
  background: #dddddd;
}
/* line 64, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul li:hover ul, .sf-navbar ul li.sfHover ul {
  left: 0;
  top: 35px;
  /* match top ul list item height */
}
/* line 68, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul li .current ul ul {
  top: -9999px;
}
/* line 72, ../stylesheets/superfish-navbar.scss */
.sf-navbar a {
  border: none;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
/* line 76, ../stylesheets/superfish-navbar.scss */
.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
  background: #dddddd;
}
/* line 83, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
  background: #dddddd;
}
/* line 88, ../stylesheets/superfish-navbar.scss */
.sf-navbar li li.current li.current {
  background: #222222;
}
/* line 90, ../stylesheets/superfish-navbar.scss */
.sf-navbar li li.current li.current > a {
  font-weight: bold;
}
/* line 96, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul .sf-sub-indicator {
  background-position: -10px -100px;
}
/* line 100, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul a > .sf-sub-indicator {
  background-position: 0px -100px;
}
/* line 105, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul a:focus > .sf-sub-indicator, .sf-navbar ul a:hover > .sf-sub-indicator, .sf-navbar ul a:active > .sf-sub-indicator {
  background-position: -10px -100px;
}
/* line 111, ../stylesheets/superfish-navbar.scss */
.sf-navbar ul li:hover > a > .sf-sub-indicator, .sf-navbar ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}
/* line 116, ../stylesheets/superfish-navbar.scss */
.sf-navbar .current ul {
  left: 0;
  top: 35px;
  /* match top ul list item height */
}
/* line 120, ../stylesheets/superfish-navbar.scss */
.sf-navbar > li > ul {
  background: transparent;
  padding: 0;
}
