/* $Id$ */
/**
 * @file
 * forDrupal superfish base CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* $Id$ */
/**
 * @file
 * forDrupal Pop superfish _base CSS (CSS not generated, for inclusion only).
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* $Id$ */
/**
 * @file
 * forDrupal Pop _base CSS (CSS not generated, for inclusion only)..
 * Copyright 2010 forDrupal. All rights reserved.
 */
/*** ESSENTIAL STYLES ***/
/* line 12, ../stylesheets/superfish.scss */
ul.sf-menu {
  line-height: 1.0;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 63, ../stylesheets/_superfish_base.scss */
ul.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 68, ../stylesheets/_superfish_base.scss */
ul.sf-menu a {
  display: block;
  position: relative;
}
/* line 72, ../stylesheets/_superfish_base.scss */
ul.sf-menu ul {
  top: -9999px;
  position: absolute;
  width: 120px;
}
/* line 76, ../stylesheets/_superfish_base.scss */
ul.sf-menu ul li {
  width: 100%;
}
/* line 80, ../stylesheets/_superfish_base.scss */
ul.sf-menu li {
  float: left;
  position: relative;
}
/* line 84, ../stylesheets/_superfish_base.scss */
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  list-style: none;
  visibility: inherit;
  /* fixes IE7 'sticky bug' */
}
/* line 89, ../stylesheets/_superfish_base.scss */
ul.sf-menu li.leaf, ul.sf-menu li.expanded {
  list-style: none;
  padding: 0;
}
/* line 92, ../stylesheets/_superfish_base.scss */
ul.sf-menu li.leaf:hover, ul.sf-menu li.expanded:hover {
  list-style: none;
}
/* line 99, ../stylesheets/_superfish_base.scss */
ul.sf-menu li:hover ul, ul.sf-menu li.sfHover ul {
  left: 0;
  top: 35px;
  z-index: 99;
}
/* line 104, ../stylesheets/_superfish_base.scss */
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
  top: -9999px;
}
/* line 109, ../stylesheets/_superfish_base.scss */
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
  left: 120px;
  top: 0;
}
/* line 113, ../stylesheets/_superfish_base.scss */
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
  top: -9999px;
}
/* line 118, ../stylesheets/_superfish_base.scss */
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
  left: 120px;
  top: 0;
}

/*** BASIC SKIN ***/
/* line 17, ../stylesheets/superfish.scss */
ul.sf-menu {
  float: left;
}
/* line 19, ../stylesheets/superfish.scss */
ul.sf-menu a {
  border: none;
  border-top: 1px solid white;
  border-left: 1px solid white;
  height: 35px;
  padding: 10px 20px 25px;
  text-decoration: none;
  color: #222222;
}
/* line 25, ../stylesheets/superfish.scss */
ul.sf-menu a:visited {
  /* visited pseudo selector so IE6 applies text colour*/
  color: #222222;
}
/* line 31, ../stylesheets/superfish.scss */
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  background: #dddddd;
  outline: 0;
}
/* line 35, ../stylesheets/superfish.scss */
ul.sf-menu a.sf-with-ul {
  padding-right: 30px;
  min-width: 1px;
  /* trigger IE7 hasLayout so spans position accurately */
}
/* line 40, ../stylesheets/superfish.scss */
ul.sf-menu li {
  background: #cccccc;
}
/* line 42, ../stylesheets/superfish.scss */
ul.sf-menu li li {
  background: #cccccc;
}
/* line 44, ../stylesheets/superfish.scss */
ul.sf-menu li li li {
  background: #cccccc;
}
/* line 49, ../stylesheets/superfish.scss */
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  background: #dddddd;
  outline: 0;
}

/*** arrows **/
/* line 57, ../stylesheets/superfish.scss */
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: 14px;
  top: 20px;
  /* IE6 only */
  text-indent: -999em;
  overflow: hidden;
  /* 8-bit indexed alpha png. IE6 gets solid image only */
  background: url('../images/arrows-ffffff.png?1280155591') no-repeat;
  width: 10px;
  height: 10px;
  overflow: hidden;
  background-position: -10px -100px;
  /*  background: url('../images/arrows-ffffff.png') no-repeat -10px -100px;*/
}

/* line 71, ../stylesheets/superfish.scss */
a > .sf-sub-indicator {
  /* give all except IE6 the correct values */
  top: 10px;
  background-position: 0px -100px;
}
/* line 77, ../stylesheets/superfish.scss */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator {
  background-position: -10px -100px;
}

/* apply hovers to modern browsers */
/* line 85, ../stylesheets/superfish.scss */
li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}

/* point right for anchors in subs */
/* line 91, ../stylesheets/superfish.scss */
.sf-menu ul {
  opacity: 0.95;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
}
/* line 93, ../stylesheets/superfish.scss */
.sf-menu ul .sf-sub-indicator {
  background-position: -10px 0px;
}
/* line 97, ../stylesheets/superfish.scss */
.sf-menu ul a > .sf-sub-indicator {
  background-position: 0px 0px;
}
/* line 102, ../stylesheets/superfish.scss */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator {
  background-position: -10px 0px;
}
/* line 108, ../stylesheets/superfish.scss */
.sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0px;
}

/*** shadows for all but IE6 ***/
/* line 115, ../stylesheets/superfish.scss */
.sf-shadow ul {
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
/* line 118, ../stylesheets/superfish.scss */
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}
