/* $Id$ */
/**
 * @file
 * forDrupal superfish vertical CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* $Id$ */
/**
 * @file
 * forDrupal Pop superfish _base CSS (CSS not generated, for inclusion only).
 * Copyright 2010 forDrupal. All rights reserved.
 */
/* $Id$ */
/**
 * @file
 * forDrupal Pop _base CSS (CSS not generated, for inclusion only)..
 * Copyright 2010 forDrupal. All rights reserved.
 */
/*** adding sf-vertical in addition to sf-menu creates a vertical menu ***/
/* line 14, ../stylesheets/superfish-vertical.scss */
.sf-vertical {
  width: 220px;
}
/* line 16, ../stylesheets/superfish-vertical.scss */
.sf-vertical li {
  width: 220px;
}
/* line 18, ../stylesheets/superfish-vertical.scss */
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 220px;
  /* match ul width */
  top: 0;
}
/* line 24, ../stylesheets/superfish-vertical.scss */
.sf-vertical .sf-sub-indicator {
  background-position: -10px 0px;
}
/* line 28, ../stylesheets/superfish-vertical.scss */
.sf-vertical a > .sf-sub-indicator {
  background-position: 0px 0px;
}
/* line 31, ../stylesheets/superfish-vertical.scss */
.sf-vertical a:focus > .sf-sub-indicator, .sf-vertical a:hover > .sf-sub-indicator, .sf-vertical a:active > .sf-sub-indicator {
  background-position: -10px 0px;
}
/* line 36, ../stylesheets/superfish-vertical.scss */
.sf-vertical li:hover > a > .sf-sub-indicator, .sf-vertical li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0px;
}
