/* $Id$ */

/**
 * @file
 * forDrupal Pop _base CSS (CSS not generated, for inclusion only)..
 * Copyright 2010 forDrupal. All rights reserved.
 */

//--- imports ---
@import "compass";

//--- variables definitions ---
//- typography -
$pop-font-family:         Arial, Helvetica, sans-serif !default;
$pop-fixed-font-family:   "andale mono", "lucida console", monospace, serif !default;
$pop-header-font-family:  $pop-font-family !default;
$pop-form-font-family:    Helvetica, Arial, sans-serif !default;

$pop-font-size:   12px !default;
$pop-baseline:    20px !default;
$small-font-size: 11px !default;

$pop-logo-font-size:   36px !default;
$pop-slogan-font-size: 14px !default;

//- color -
$font-color:      #222222 !default;
$quiet-color:     lighten($font-color, 50%) !default;
$loud-color:      darken($font-color, 20%) !default;
$header-color:    #111111 !default;
$alt-text-color:  $font-color !default;

$body-background-color: #fff !default;
$background-color:  #f4f4f4 !default;
$border-color:      #e5e5e5 !default;
$block-background-color:  #fff !default;

$link-color:        #1111cc !default;
$link-hover-color:  #1111cc !default;
$link-focus-color:  $link-hover-color !default;
$link-active-color: lighten(adjust-hue($link-color, 75deg), 10%) !default;
$link-visited-color: darken($link-color, 10%) !default;

$status-color:        #219021 !default;
$status-bg-color:     #e4ffcf !default;
$status-border-color: #fff8f4 !default;
$warning-color:       #9c8b00 !default;
$warning-bg-color:    #fff4c0 !default;
$warning-border-color: #fffce4 !default;
$error-color:         #f70034 !default;
$error-bg-color:      #ffe6e6 !default;
$error-border-color:  #f8fffc !default;

$table-header-color:  #ffffff !default;
$table-stripe-color:  $background-color !default;

//- layout -
// either in px, em or percentage, no mixing of type
$wrapper_width:         960px !default;
$first_sidebar_width:   220px !default;
$second_sidebar_width:  220px !default;
$column_gutter:         20px !default;  // gutter between 2 columns

// only applicable to fluid layout, i.e. in percentage
$fluid_min:             $wrapper_width !default;


//--- mixins definitions ---
@mixin pop-typography($nested: false) {
  @if $nested {
    @include pop-typography-body;
    @include pop-typography-defaults;
  } @else {
    body { @include pop-typography-body; }
    @include pop-typography-defaults;
  }
}

@mixin normal-text      { font: normal $pop-font-size $pop-font-family; line-height: $pop-baseline; color: $font-color; }
@mixin fixed-width-text { font: normal $small-font-size $pop-fixed-font-family; line-height: $pop-baseline; }
@mixin form-text        { font: normal $pop-font-size $pop-form-font-family; line-height: $pop-baseline; }
@mixin header-text {
  font-weight: bold;
  font-family: $pop-header-font-family;
  color: $header-color;
  margin-top: 0;
  margin-bottom: 0;
}
@mixin quiet  { color: $quiet-color; }
@mixin loud   { color: $loud-color; }

@mixin pop-typography-body { @include normal-text; }

@mixin pop-typography-defaults {
  #{headers(all)} {
    @include header-text;
    img {
      margin: 0;
    }
  }
  h1 { font-size: 24px; padding: 18px 0; }
  h2 { font-size: 21px; padding: 19px 0; }
  h3 { font-size: 18px; padding: 21px 0; }
  h4 { font-size: 16px; padding: 12px 0; }
  h5 { font-size: 14px; padding: 13px 0; }
  h6 { font-size: 12px; padding: 14px 0; }
  p {
    margin: 0 0 $pop-baseline;
    img.left  { @include float-left; margin: $pop-baseline $pop-baseline $pop-baseline 0; padding: 0; }
    img.right { @include float-right; margin: $pop-baseline 0 $pop-baseline $pop-baseline; padding: 0; }
  }
  a {
    text-decoration: underline;
    @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
  }
  blockquote  {
    @include extra-padding;
    @include extra-margin;
    @include alt-text;
    p:last-child {
      margin-bottom: 0;
    }
  }
  strong      { font-weight: bold; }
  em          { font-style: italic; }
  dfn         { font-style: italic; font-weight: bold; }
  sup, sub    { line-height: 0; }
  abbr,
  acronym     { border-bottom: 1px dotted $quiet-color; }
  address     { margin: 0 0 $pop_baseline; font-style: italic; }
  del         { color: $quiet-color; text-decoration: line-through; }

  /* Fixed Monospace Sizing
   * http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
  pre {
    @include fixed-width-text;
    @include extra-padding;
    @include alt-text(normal);
    position: relative;
    margin: $pop_baseline 0;
    white-space: pre;
    overflow-x: hidden;
    z-index: 1;
  }
  code, tt    { @include fixed-width-text; }

  table       { margin-bottom: $pop_baseline; width: 100%; }
  th, td      { vertical-align: middle; }
  th          { font-weight: bold; }
  thead th    { background: $table-header-color; }
  th, td, caption { padding: 4px 5px; }
  tr.even, tr.odd { background: none; }
  tr.even td  { background: $table-stripe-color; }
  tfoot       { font-style: italic; }
  caption     { background: $background-color; }

  dl {
    margin: 0 0 $pop_baseline 0;
    dt {
      font-weight: bold;
    }
  }
  dd { margin-left: $pop_baseline; }

  /* override the background and color to change hr line color */
  hr {
    background: $background-color;
    border: none;
    clear: both;
    color: $background-color;
    height: 1px;
    margin: $pop_baseline/2 0;
  }
}

// forms
@mixin form-border($top: #bebebe, $right: #dbdbdb, $bottom: #dbdbdb, $left: #b1b1b1) {
  border-top: 1px solid $top;
  border-right: 1px solid $right;
  border-bottom: 1px solid $bottom;
  border-left: 1px solid $left;
}

// messages
@mixin status  { color: $status-color; background: $status-bg-color; border-color: $status-border-color; }
@mixin warning { color: $warning-color; background: $warning-bg-color; border-color: $warning-border-color; }
@mixin error   { color: $error-color; background: $error-bg-color; border-color: $error-border-color; }


// utilities
@mixin pop-clearfix {
  &:after {
    content: " ";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
  }
  @include has-layout;
}

// allow for full-width bleeds
@mixin fluid {
  margin: 0px auto;
}

@mixin alt-text($font-style: italic, $border-width: 1px, $bg: $background-color, $color: $alt-text-color) {
  background: $bg;
  border: $border-width solid $border-color;
  color: $color;
  font-style: $font-style;
}

@mixin extra-padding($padding: $pop_baseline) {
  padding: $padding;
}
@mixin extra-margin($margin: $pop_baseline) {
  margin: $margin;
}

// CSS3
$default-border-image-width: 10px;
$default-border-image-stretch: round;

@mixin border-image($img, $width: $default-border-image-width, $stretch: $default-border-image-stretch) {
  $full: image-url($img) $width $stretch;
  border-image: $full;
  -webkit-border-image: $full;
  -moz-border-image: $full;
}