/* $Id$ */

/**
 * @file
 * forDrupal Pop base CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */

@import "pop_base";

/*--- browser reset --- */
@import "compass/reset";

/*--- typography --- */
body {
  background: $body-background-color;
  @include pop-typography(true);

  * { @include box-sizing(border-box); }
}

.logo {
  @include float-left;
  margin: 0 $pop-baseline 0 0;
}
.site-name-slogan h1 {
  font-size: $pop-logo-font-size;
  a {
    text-decoration: none;
  }
}
.slogan  { font-size: $pop-slogan-font-size; font-style: italic; }

/*--- useful classes --- */
/* seo/accessibility navigation */
.skip {
  position: absolute;
  top: -9999px;
  left: -9999px;
  height: 1px;
  width: 1px;
  &:focus, &:active {
    position: static;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
  }
}

.hidden { display: none; }
.quiet  { @include quiet; }
.loud   { @include loud; }

/* new clearfix */
/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack/ */
.clear-block,
.clearfix { @include pop-clearfix; }

/*--- drupal override --- */
/* forms */
input, select { @include form-text; }
textarea      { @include form-border; @include form-text; }

input {
  &.form-text {
    @include form-border;
  }
  &.form-radio,
  &.form-checkbox {
    vertical-align: middle;
    margin: 0 0 2px 0;
  }
  &.form-submit {
    cursor: pointer;
    font-weight: bold;
  }
}

label {
  font-weight: bold;
}

.description {
  color: $quiet-color;
  font-size: $small-font-size;
}

.form-item {
  position: relative;
  padding: 4px 9px;

  .teaser-checkbox &, .form-item &, .fieldset &, table & {
    margin: 0;
  }

  & .description {
    background: #222;
    border: 5px solid #444;
    color: #eee;
    display: none;
    left: 30%;
    margin: 0;
    max-width: 70%;
    padding: $pop_baseline/4 $pop_baseline/2;
    position: absolute;
    bottom: 100%;
    z-index: 20;   /* higher than superfish 10 */
  }

  &:hover, .fieldset &:hover {
    z-index: 1;
    /*background-color: #444; color: #eee; */

    > .description {
      display: block;
    }
  }
}

.resizable-textarea .grippie {
  background-color: $background-color;
}

/* fieldsets */
.fieldset {
  border: 1px solid $border-color;
  display: block;
  margin-bottom: $pop_baseline;

  .fieldset-title {
    background: $background-color;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 4px 9px 5px;
    a {
      background: $background-color;
      color: $font-color;
      display: block;
/*      font-size: 14px;*/
      margin: 0;
      padding: 4px 9px 5px;
      text-decoration: none;
    }
  }

  .fieldset-content {
    background: $block-background-color;
    display: block;
    padding: 10px 9px 9px;

    > .description {
      margin: 0 0 10px;
    }
  }

  .fieldset .fieldset-content {
    background: $block-background-color;
  }

  table {
    margin: 0px;
  }
}

.collapsible {
  .fieldset-title {
    cursor: pointer;
    padding: 0;
    position: relative;
    a {
      background: transparent image-url("menu-expanded.png") 9px $pop-baseline/2 no-repeat;
      padding-left: $pop-baseline;
    }
  }
}
.collapsed {
  .fieldset-title a {
    background: transparent image-url("menu-collapsed.png") 7px $pop-baseline/2 no-repeat;
    color: lighten($font_color, 20%);
    padding-bottom: 4px;
    padding-left: $pop-baseline;
    &:hover {
      color: $font-color;
      background-color: darken($background-color, 5%);
    }
  }
  .fieldset-content,
  html.js & .fieldset-content {
    display: none;
  }
}

/* autocomplete adjustment due to new padding */
html.js input {
  &.form-autocomplete {
    background-position: 100% 4px;
  }
  &.throbbing {
    background-position: 100% -16px; /* LTR */
  }
}

/* form container */
.container-inline {
  h2, div {
    display: inline;
    border: 0;
    padding: 0;
    background: transparent;
  }
  margin: 0px 0px 10px;
}


/* lists */
ul, ol {
  display: list-item;
  li {
    margin: 0 0 0 $pop_baseline;
  }
}
ul li { list-style-type: disc; }
ol li { list-style-type: decimal; }

ul {
  &.links {
    @include horizontal-list(5px);
    margin: 0;
    list-style: none;
  }
}

.item-list {
  ul, li {
    margin: 0;
    list-style: none;
  }
  h3 {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 4px 9px 5px;
    color: #333333;
    background: #f4f4f4;
  }
}

li ul, li ol { margin: 0; }

.menu li {
  &.expanded {
    list-style-type: circle;
    list-style-image: image-url("menu-expanded.png");
  }
  &.collapsed {
    list-style-type: disc;
    list-style-image: image-url("menu-collapsed.png"); /* LTR */
  }
  &.leaf {
    list-style-type: square;
    list-style-image: image-url("menu-leaf.png");
  }
}

/* messages */
div.messages {
  border: 5px solid #fff;
  padding: $pop_baseline/2;
  margin: 0 0 $pop_baseline/2 0;
}

table tr.ok th,
table tr.info th    { @include status; }
table tr.warning th { @include warning; }
table tr.error th   { @include error; }

div.status  { @include status; }
div.error   { @include warning; }
div.warning { @include error; }


/* search box */
.search-box {
  float: right;
}
#search-theme-form input[type="image"] {
  vertical-align: bottom;
}

/* blocks */
div.block {
  margin-bottom: $pop-baseline;

  .block-title {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 4px 9px 5px;
    color: $font-color;
    background: $background-color;
  }
  .block-content {
    padding: 10px 9px 9px;
    background: white;
  }
}

.block-region {
  @include alt-text(italic, 5px);
  color: $font_color;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* block editing */
.with-block-editing {
  position: relative;
  &:hover .block-edit {
    display: block !important;
  }
}

.block-edit {
  @include horizontal-list-container;
/*  background: $background-color;
  color: $font_color;*/
  display: none !important;
  position: absolute;
  right: 0;
  bottom: 100%;
  z-index: 5;
  span, a {
    @include horizontal-list-item(5px);
    display: block;
  }
/*  .icon {
    background: $font_color url(../images/block-edit.png) no-repeat 50% 50%;
    border-bottom: 0;
    float: right;
    height: 27px;
    width: 30px;
  }
  div {
    background: #222222;
    margin-top: 27px;
    padding: 4px 8px 6px;
  }*/
}

/* pagers */
div.pager {
  font-weight: normal;
  font-size: $small-font-size;
  ul {
    &.pager-list {
      float: left;
    }
    &.pager-links {
      float: right;
    }
  }
}

/* nodes */
.node { margin-bottom: $pop_baseline; }

/* comments */
.comment-name { display: inline; }

.indented { margin-left: $pop_baseline; /* LTR */ }
.comment-unpublished { background: $background-color; }

/* poll */
.poll {
  margin-bottom: $pop-baseline;

  .bar {
    background: $background-color;
    display: block;
    height: $pop-baseline;
    overflow: hidden;
    width: 100%;
    .foreground {
      background: $border-color;
      height: $pop-baseline;
    }
  }
  .percent {
    float: right;
    margin-top: -$pop-baseline * 2;
  }
}

/* toggle */
.toggle-hidden {
  display: none;
}
.toggle-open {
  display: block;
}

/* admin areas */
div.admin .left {
  float: left; /* LTR */
  width: 48%;
}
div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

.admin-panel {
  h3 {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 4px 9px 5px;
    color: #333333;
    background: #f4f4f4;
  }
  .body {
    margin-bottom: $pop_baseline;
  }
}

.update table.version ul.links {
  padding: 0 5px;
  li {
    padding: 0 5px;
  }
}

#user-admin-filter {
  ul li {
    list-style: none;
    margin: 0;
  }
  .form-item {
    padding: 0;
  }
}
dl.multiselect {
  margin: 0;
}

#dblog-filter-form {
  #edit-type-wrapper,
  #edit-severity-wrapper {
    float: left; /* LTR */
    padding-right: .8em; /* LTR */
    margin: 0.1em;
    /**
     * In Opera 9, DOM elements with the property of "overflow: auto"
     * will partially hide its contents with unnecessary scrollbars when
     * its immediate child is floated without an explicit width set.
     */
    width: 15em;
  }
  .form-item select.form-select {
  width: 100%;
}
}
#node-admin-filter {
  ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .form-item {
    padding: 0;
  }
}
#node-admin-buttons {
  float: left; /* LTR */
  margin-left: 0.5em; /* LTR */
  clear: right; /* LTR */
}

/* og support */
.groups {
  .links li {
    float: none;
  }
}

/* jquery ui */
.ui-dialog {
  @include box-sizing(content-box);
}