/* $Id$ */

/**
 * @file
 * forDrupal Pop dark theme CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */

//--- imports ---
@import "pop_base";

//- color -
$dark-font-color:     #ddd !default;
$dark-quiet-color:    #444 !default;
$dark-loud-color:     #fff !default;
$dark-header-color:   #eee !default;

$dark-body-background-color: #111 !default;
$dark-background-color:  #2f2f2f !default;
$dark-border-color:      #505353 !default;
$dark-block-background-color:  #505353 !default;

$dark-link-color:        #2f31ff !default;
$dark-link-hover-color:  lighten($dark-link-color, 10%) !default;
$dark-link-focus-color:  $dark-link-hover-color !default;
$dark-link-active-color: lighten(adjust-hue($dark-link-color, 75deg), 10%) !default;
$dark-link-visited-color: darken($dark-link-color, 10%) !default;

$dark-table-header-color:  #505353 !default;
$dark-table-stripe-color:  $dark-background-color !default;

//--- mixins ---
@mixin dark-normal-text   { color: $dark-font-color; }
@mixin dark-header-text   { color: $dark-header-color; }

@mixin pop-dark-typography($nested: false) {
  @if $nested {
    @include pop-dark-typography-body;
    @include pop-dark-typography-defaults;
  } @else {
    body { @include pop-dark-typography-body; }
    @include pop-dark-typography-defaults;
  }
}

@mixin pop-dark-typography-body  { @include dark-normal-text; }

@mixin pop-dark-typography-defaults {
  #{headers(all)} {
    @include dark-header-text;
  }
  a {
    @include link-colors($dark-link-color, $dark-link-hover-color, $dark-link-active-color, $dark-link-visited-color, $dark-link-focus-color);
  }
  del         { color: $quiet-color; text-decoration: line-through; }

  thead th    { background: $dark-table-header-color; }
  tr.even, tr.odd   { background: none; }
  tr.even td  { background: $dark-table-stripe-color; }
  td.active   { background: #444; }
  caption     { background: $dark-background-color; }

  hr {
    background: $dark-border-color;
    color: $dark-border-color;
  }
}

.dark {
  background: $dark-body-background-color;
  @include pop-dark-typography(true);

  .quiet { color: $dark-quiet-color; }
  .loud  { color: $dark-loud-color; }
  .fieldset {
    border: 1px solid $dark-border-color;
    .fieldset-title {
      background: $dark-block-background-color;
      a {
        background: $dark-block-background-color;
        color: $dark-font-color;
      }
    }
    .fieldset-content {
      background: $dark-background-color;
    }
  }
  .block {
    border: 1px solid $dark-border-color;
    .block-title {
      color: $dark-font-color;
      background: $dark-block-background-color;
    }
    .block-content {
      background: $dark-background-color;
    }
  }
}