/* $Id$ */

/*
 * @file
 * forDrupal theme CSS.
 * Copyright 2010 forDrupal. All rights reserved. */

/*--- General IE6/7 fixes --- */

* html .clearfix,
*:first-child+html .clearfix {  zoom: 1; }

/* Fixes incorrect placement of ol numbers in IE6/7. */
ol { margin-left: 2em; }

/* Fixes wrong line-height on sup/sub in IE. */
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

/* Fixes IE7 missing wrapping of code elements. */
html>body p code { white-space: normal; }

/* IE 6&7 has problems with setting proper <hr> margins. */
hr { margin: -4px auto 4px; }

/* Limit legend width to text length */
form fieldset legend { display: inline-block !important; }
fieldset { padding-top: 0; }
