/* $Id$ */

/**
 * @file
 * forDrupal Pop 3 columns content first source order fixed/fluid layout CSS.
 * Fixed/fluid width layout. Same HTML markup in all layouts.
 * Copyright 2010 forDrupal. All rights reserved.
 */
@import "pop_base";

@mixin wrapper_width {
  @if unit($wrapper_width) == "%" {
    $wrapper_width: 100%;
  }
}
/**
 * @documentation body layout classes
 *  .no-sidebars:     1 column  [ content ]
 *  .sidebar-first:   2 columns [ first_sidebar | content ]
 *  .sidebar-second:  2 columns [ content | second_sidebar ]
 *  .two-sidebars:    3 columns [ first_sidebar | content | second_sidebar ]
 *  .all-sidebars-left:   3 columns [ first_sidebar | second_sidebar | content ]
 *  .all-sidebars-right:  3 columns [ content | first_sidebar | second_sidebar ]
 *  .equal:   all columns equal heights
 *  .stacked: all columns stacked with 100% width, ignoring all classes above.
 *            In sequence of header, primary content, first sidebar, second sidebar, footer
 *
 * @documentation content first html structure
 *  <body class="[layout classes]">
 *    <div id="wrapper">
 *      <div id="header">
 *        <!-- header content -->
 *      </div>
 *      <div id="page">
 *        <div id="content">
 *          <!-- primary content -->
 *        </div>
 *        <div id="first-sidebar">
 *          <!-- first sidebar -->
 *        </div>
 *        <div id="second-sidebar">
 *          <!-- second sidebar -->
 *        </div>
 *      </div>
 *      <div id="footer">
 *        <!-- footer content -->
 *      </div>
 *    </div>
 *  </body>
 */

/*--- layout --- */
#wrapper {
  @if unit($wrapper_width) == "%" {
    min-width: $fluid_min;
  }
  margin: 0 auto;
  width: $wrapper_width;
}

// in case percentage, readjust for the wrapper width for the rest
@include wrapper_width;

#header, #page-title, #footer {
  padding-bottom: $pop-baseline;
  position: relative;
  width: 100%;
}

#page {
  margin-bottom: $pop-baseline;
}

#content, #first-sidebar, #second-sidebar {
  float: left;
  position: relative;
}

.no-sidebars #content {
  width: $wrapper_width;
}

.sidebar-first {
  #content {
    margin-left: $first_sidebar_width;
    width: $wrapper_width - $first_sidebar_width;
  }
  #first-sidebar {
    margin-left: -$wrapper_width;
    padding-right: $column_gutter;
    width: $first_sidebar_width;
  }
  #second-sidebar {
    display: none;
  }
}

.sidebar-second {
  #content {
    width: $wrapper_width - $second_sidebar_width;
  }
  #first-sidebar {
    display: none;
  }
  #second-sidebar {
    float: right;
    padding-left: $column_gutter;
    width: $second_sidebar_width;
  }
}

.two-sidebars {
  #content {
    margin-left: $first_sidebar_width;
    width: $wrapper_width - $first_sidebar_width - $second_sidebar_width;
  }
  #first-sidebar {
    margin-left: -($wrapper_width - $first_sidebar_width);
    padding-right: $column_gutter;
    width: $first_sidebar_width;
  }
  #second-sidebar {
    float: right;
    padding-left: $column_gutter;
    width: $second_sidebar_width;
  }
}

.all-sidebars-left {
  #content {
    float: right;
    width: $wrapper_width - $first_sidebar_width - $second_sidebar_width;
  }
  #first-sidebar {
    padding-right: $column_gutter;
    width: $first_sidebar_width;
  }
  #second-sidebar {
    padding-right: $column_gutter;
    width: $second_sidebar_width;
  }
}

.all-sidebars-right {
  #content {
    width: $wrapper_width - $first_sidebar_width - $second_sidebar_width;
  }
  #first-sidebar {
    padding-left: $column_gutter;
    width: $first_sidebar_width;
  }
  #second-sidebar {
    padding-left: $column_gutter;
    width: $second_sidebar_width;
  }
}

/* Stacked layout, should not use with .equal */
body {
  &.stacked {
    #content, #first-sidebar, #second-sidebar {
      float: none;
      margin: 0 auto;
      width: 100%;
    }
  }
  &.equal {
    #page {
      overflow: hidden;
      padding-bottom: 0;
    }
    #content, #first-sidebar, #second-sidebar {
      margin-bottom: -32767px;
      padding-bottom: 32767px;
    }
  }
}

/* Equal height */
@media all and (min-width: 0px) {
  body.equal {
/*    #content, #first-sidebar, #second-sidebar {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
*/    #content[id^="content"]:before, #first-sidebar[id^="first-sidebar"]:before, #second-sidebar[id^="second-sidebar"]:before {
      content: " ";
      display: block;
      background: inherit;
      padding-top: 32767px !important;
      margin-bottom: -32767px !important;
      height: 0;
    }
  }
}
