/* $Id$ */

/**
 * @file
 * forDrupal superfish base CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */

@import "superfish_base";

/*** ESSENTIAL STYLES ***/
ul.sf-menu {
  @include sf_essential;
}

/*** BASIC SKIN ***/
ul.sf-menu {
  float: left;
  a {
    @include sf_border(1, 0, 0, 1);
//    height: $sf-item-height;
    padding:  $sf-top-padding $pop-baseline;
    text-decoration: none;
    color: $sf-font-color;
    &:visited {
      /* visited pseudo selector so IE6 applies text colour*/
      color: $sf-font-color;
    }
    &:focus,
    &:hover,
    &:active {
      background: $sf-hover-background;
      outline: 0;
    }
    &.sf-with-ul {
      padding-right: $pop-baseline + 10px;
      min-width: 1px;     /* trigger IE7 hasLayout so spans position accurately */
    }
  }
  li {
    background: $sf-background;
    li {
      background: $sf-background;
      li {
        background: $sf-background;
      }
    }
    &:hover,
    &.sfHover {
      background: $sf-hover-background;
      outline: 0;
    }
  }
}

/*** arrows **/
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: 14px;
  top: $pop-baseline;  /* IE6 only */
  text-indent: -999em;
  overflow: hidden;
  /* 8-bit indexed alpha png. IE6 gets solid image only */
  @include sprite-background('arrows-ffffff.png', 10px, 10px);
  @include sprite-position(2, 2, 10px, 100px);
/*  background: url('../images/arrows-ffffff.png') no-repeat -10px -100px;*/
}

a {
  > .sf-sub-indicator {    /* give all except IE6 the correct values */
    top: $sf-top-padding;
    @include sprite-position(1, 2, 10px, 100px);
  }
  &:focus > .sf-sub-indicator,
  &:hover > .sf-sub-indicator,
  &:active > .sf-sub-indicator {
    @include sprite-position(2, 2, 10px, 100px);
  }
}

/* apply hovers to modern browsers */
li {
  &:hover > a > .sf-sub-indicator,
  &.sfHover > a > .sf-sub-indicator {
    @include sprite-position(2, 2, 10px, 100px);
  }
}

/* point right for anchors in subs */
.sf-menu ul {
  @include opacity(.95);
  .sf-sub-indicator {
    @include sprite-position(2, 1, 10px, 100px);
  }
  a {
    > .sf-sub-indicator {
      @include sprite-position(1, 1, 10px, 100px);
    }
    &:focus > .sf-sub-indicator,
    &:hover > .sf-sub-indicator,
    &:active > .sf-sub-indicator {
      @include sprite-position(2, 1, 10px, 100px);
    }
  }
  li {
    &:hover > a > .sf-sub-indicator,
    &.sfHover > a > .sf-sub-indicator {
      @include sprite-position(2, 1, 10px, 100px);
    }
  }
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
  @include box-shadow;

  &.sf-shadow-off {
    background: transparent;
  }
}
