/* $Id$ */

/**
 * @file
 * forDrupal superfish navbar CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */

@import "superfish_base";

/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
  background: $sf-background;
  height: $sf-item-height;
  padding-bottom: $sf-item-height;
  position: relative;
  li {
    background: $sf-background;
    position: static;
  }
  li {
    &.current,
    &:hover,
    &.sfHover,
    li.current {
      background: $sf-hover-background;
    }
    ul {
      width: 100%;     /*IE6 soils itself without this*/
    }
    li {
      background: $sf-background;
      position: relative;
      ul {
        width: $sf-item-width;
      }
      li {
        width: 100%;
        &:hover, &.sfHover {
          background: $sf-hover-background;
        }
      }
    }
  }
  ul li {
    width: auto;
    float: left;
    &:hover,
    &.sfHover {
      background: $sf-hover-background;
    }
    &:hover li,
    &.sfHover li {
      background: $sf-hover-background;
    }
    li a {
      &:focus,
      &:hover,
      &:active {
        background: $sf-hover-background;
      }
    }
    &:hover ul,
    &.sfHover ul {
      left: 0;
      top: $sf-item-height;      /* match top ul list item height */
    }
    .current ul ul {
      @include sf_hide;
    }
  }
  a {
    @include sf_border(0, 0, 1, 1);
    &:focus,
    &:hover,
    &:active {
      background: $sf-hover-background;
    }
  }
  ul a {
    &:focus,
    &:hover,
    &:active {
      background: $sf-hover-background;
    }
  }
  li li.current {
    li.current {
      background: $sf-active-background;
      > a {
        font-weight: bold;
      }
    }
  }
  ul {
    .sf-sub-indicator {
      @include sprite-position(2, 2, 10px, 100px);
    }
    a {
      > .sf-sub-indicator {
        @include sprite-position(1, 2, 10px, 100px);
      }
      &:focus > .sf-sub-indicator,
      &:hover > .sf-sub-indicator,
      &:active > .sf-sub-indicator {
        @include sprite-position(2, 2, 10px, 100px);
      }
    }
    li {
      &:hover > a > .sf-sub-indicator,
      &.sfHover > a > .sf-sub-indicator {
        @include sprite-position(2, 2, 10px, 100px);
      }
    }
  }
  .current ul {
    left: 0;
    top: $sf-item-height;    /* match top ul list item height */
  }
  > li > ul {
    background: transparent;
    padding: 0;
  }
}
