/* $Id$ */

/**
 * @file
 * forDrupal superfish vertical CSS.
 * Copyright 2010 forDrupal. All rights reserved.
 */

@import "superfish_base";

$sf-item-width: 220px;

/*** adding sf-vertical in addition to sf-menu creates a vertical menu ***/
.sf-vertical {
  width: $sf-item-width;
  li {
    width: $sf-item-width;
    &:hover ul, &.sfHover ul {
      left: $sf-item-width;
      /* match ul width */
      top: 0;
    }
  }
  .sf-sub-indicator {
    @include sprite-position(2, 1, 10px, 100px);
  }
  a {
    > .sf-sub-indicator {
      @include sprite-position(1, 1, 10px, 100px);
    }
    &:focus > .sf-sub-indicator, &:hover > .sf-sub-indicator, &:active > .sf-sub-indicator {
      @include sprite-position(2, 1, 10px, 100px);
    }
  }
  li {
    &:hover > a > .sf-sub-indicator, &.sfHover > a > .sf-sub-indicator {
      @include sprite-position(2, 1, 10px, 100px);
    }
  }
}

